@mixin aqua-gradient {
  background: linear-gradient(to right, $cDarkAqua, $cLightAqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin onPhone {
  @media (max-width: 619px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 620px) {
    @content;
  }
}

@mixin bold48 {
  font-size: 48px;
  font-weight: bold;

  @include onPhone {
    font-size: 20px;
  }
}

@mixin fz20 {
  font-size: 20px;

  @include onPhone {
    font-size: 13px;
  }
}
