.main-page-posts {
  margin-bottom: 90px;
  
  @include onPhone {
    margin-bottom: 41px;
  }
  
  &__title {
    @include bold48;
  }

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__view-all{
    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;
    color: $cWhite;
    @include fz20;
    font-weight: bold;

    @include onPhone {
      gap: 5px;
    }
  }

  &__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

    @include onPhone {
      margin-top: 15px;
      flex-direction: column;
      align-items: center;
    }
  }
}