.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    @include onPhone {
      gap: 6px;
    }
  }

  &__logo-name {
    font-size: 30px;
    @include aqua-gradient;

    @include onPhone {
      font-size: 20px;
    }
  }

  &__nav{
    display: flex;
    gap: 40px;

    @include onPhone {
      gap: 10px;
    }
  }

  &__nav-item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: $cWhite;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;

    @include onPhone {
      font-size: 15px;
    }
  }

  &__link:hover {
    color: $cGray;
    text-shadow: 0 0 10px $cGray;
  }
}
